extends layout

block content
    .h-100.d-flex.flex-column.align-items-center.justify-content-center
        h2= title 
        p= message
        a(href='/')
            button.btn.btn-primary Quay lại trang chủ
