extends layout

block content
  
  .h-100.d-flex.align-items-center.justify-content-center
    img.flex-grow-0.flex-shrink-0(src="images/cover.png", alt="Book Cover Image", width=258, height=410)
    form.d-flex.flex-column.justify-content-center.m-5(action="/api/create-payment", method="post")
      h2 Bí mật của may mắn
      h4 Giá: 10,000 VNĐ
      button.buy.btn.btn-primary Mua ngay

