extends layout

block content
    .h-100.d-flex.flex-column.align-items-center.justify-content-center
        h2.mb-5 Thanh toán thành công 
        p Tải xuống sẽ được tự động bắt đầu
        a.mb-3(href='/')
            button.btn.btn-success Tải xuống lại
        a(href='/')
            button.btn.btn-primary Quay về trang chủ
